.dropdown2 {
    height: 60px;
    width: 100%;
    position: relative;
    /* display: flex; */

}

.dropdown-toggle2 {
    background: #fff;
    padding: 10px;
    color: #6c757d;
    opacity: 1;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
}

.dropdown-menu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    color: #6c757d;
    opacity: 1;
    border: 1px solid #ccc;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
    overflow-y: scroll;

}

.dropdown-menu2 li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu2 li:hover {
    background: #f0f0f0;
}

.show2 {
    display: block;
}

.form-parent {
    border: 2px solid #213770;
    border-radius: 10px;
    display: flex;
}

.form-parent .childs {
    height: 60px;
    width: 100%;
    display: flex;
}

.form-parent .childs .childs-inp {
    height: 60px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-parent .window-screen-search-btn .img {
    width: 70px;
}

.submit-btn-parent {
    display: none;
}

@media (max-width: 780px) {
    .dropdown-toggle2 {
        border-radius: 5px;
    }

    .form-parent {
        padding-top: 30px;
        border: none;
        display: block;
        /* background-color: #d3ebf8; */
    }

    .form-parent .childs {
        margin-bottom: 4px;
    }

    .form-parent .childs .childs-inp {
        border-radius: 5px;
    }

    .window-screen-search-btn {
        display: none;
    }

    .submit-btn-parent {
        width: 100%;
    }

    .submit-btn {
        display: flex;
        justify-content: center;
        background-color: #213770;
        width: 200px;
        border: 2px solid #1d2e57;
        border-radius: 5px;
        margin: 20px auto;
        padding: 10px 5px;
        color: #fff;

    }

    .submit-btn-parent {
        display: flex;
    }

}

/* review cards styling */

.main-div {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #d3ebf8;
    padding: 5% 10px 10px 10px;
    gap: 20px;

}

.main-div>div {
    padding: 10px 10px 30px 10px;
    text-align: center;
    position: relative;
}

.main-div>div>div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding-top: 17%;
    padding-bottom: 6px;
}

.image-parent {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #d3ebf8;
    background-color: #1d2e57;
    margin: auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-parent>img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.content-box {
    background-color: #d3ebf8;
    border-radius: 5px;
    margin: 10px 20px;
    text-align: start;
    padding: 0 10px;
    color: rgb(95, 94, 94);
}

.scrollingText {
    height: 150px;
    overflow-y: hidden; 
  position: relative;
  white-space: normal;
  display: block;
  scrollbar-width: none;
}

.scrollingText::-webkit-scrollbar {
    display: none;
  }
  .scrolling {
    overflow-y: auto;
  }
.recent-reviews-heading {
    color: #00539c;
}
.card-date-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 95%;
    margin: auto;
}
.card-date-box > a > i {
    color: #213770;
    font-size: 25px;
    text-decoration: none;
}
.card-date-box > a > i:hover {
    color: #00539c;
    font-size: 25px;
}

@media (max-width: 1130px) {
    .main-div {
        grid-template-columns: auto auto;
        gap: 50px;
    }
}

@media (max-width: 770px) {
    .main-div {
        grid-template-columns: auto;
        gap: 50px;
        padding: 15% 10px 10px 10px;
    }
}